body {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 1200px;
}

.comment_div {
    flex-wrap: wrap;
    width: 22%;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid dodgerblue;
}

.body {
    background-color: lightpink;
    margin-top: 20px;
    border-radius: 6px;
}